$icomoon-font-family: "ucrm-icons" !default;
$icomoon-font-path: "fonts" !default;

$ucrm-icon--activity: "\e900";
$ucrm-icon--apps: "\e901";
$ucrm-icon--archive: "\e902";
$ucrm-icon--arrow-back: "\e903";
$ucrm-icon--arrow-diff-down: "\e904";
$ucrm-icon--arrow-diff-up: "\e905";
$ucrm-icon--arrow-down: "\e906";
$ucrm-icon--arrow-up: "\e907";
$ucrm-icon--at-bold: "\e908";
$ucrm-icon--at-cross: "\e909";
$ucrm-icon--at: "\e90a";
$ucrm-icon--auto-pay: "\e90b";
$ucrm-icon--auto-send-email: "\e90c";
$ucrm-icon--auto-use-credit: "\e90d";
$ucrm-icon--bell: "\e90e";
$ucrm-icon--billing-edit: "\e90f";
$ucrm-icon--billing: "\e910";
$ucrm-icon--calendar-check: "\e911";
$ucrm-icon--calendar-lg-check: "\e912";
$ucrm-icon--calendar-lg-dots: "\e913";
$ucrm-icon--calendar-suspension: "\e914";
$ucrm-icon--check-narrow: "\e915";
$ucrm-icon--check-progress: "\e916";
$ucrm-icon--check-wizard: "\e917";
$ucrm-icon--check: "\e918";
$ucrm-icon--circle-no: "\e919";
$ucrm-icon--circle-slash: "\e91a";
$ucrm-icon--circle-yes: "\e91b";
$ucrm-icon--client-network-only: "\e91c";
$ucrm-icon--client-no-device: "\e91d";
$ucrm-icon--client-suspended: "\e91e";
$ucrm-icon--client: "\e91f";
$ucrm-icon--clients-outage: "\e920";
$ucrm-icon--clients: "\e921";
$ucrm-icon--close-smaller: "\e922";
$ucrm-icon--close: "\e923";
$ucrm-icon--cog: "\e924";
$ucrm-icon--cross-circle: "\e925";
$ucrm-icon--cross-thin: "\e926";
$ucrm-icon--cross: "\e927";
$ucrm-icon--danger-fill: "\e928";
$ucrm-icon--danger-outline: "\e929";
$ucrm-icon--dashboard: "\e92a";
$ucrm-icon--devices: "\e92b";
$ucrm-icon--document: "\e92c";
$ucrm-icon--dots: "\e92d";
$ucrm-icon--download: "\e92e";
$ucrm-icon--edit: "\e92f";
$ucrm-icon--email-open: "\e930";
$ucrm-icon--email: "\e931";
$ucrm-icon--envelope: "\e932";
$ucrm-icon--export: "\e933";
$ucrm-icon--filter-grid: "\e934";
$ucrm-icon--filter-map-pin: "\e935";
$ucrm-icon--help: "\e936";
$ucrm-icon--invoice-overdue: "\e937";
$ucrm-icon--invoices: "\e938";
$ucrm-icon--lightbulb: "\e939";
$ucrm-icon--link: "\e93a";
$ucrm-icon--lock: "\e93b";
$ucrm-icon--logs: "\e93c";
$ucrm-icon--mailing: "\e93d";
$ucrm-icon--menu: "\e93e";
$ucrm-icon--message-circle-plus: "\e93f";
$ucrm-icon--message-circle: "\e940";
$ucrm-icon--message-plus: "\e941";
$ucrm-icon--message-smiley: "\e942";
$ucrm-icon--message: "\e943";
$ucrm-icon--messages-question: "\e944";
$ucrm-icon--messages: "\e945";
$ucrm-icon--move: "\e946";
$ucrm-icon--network: "\e947";
$ucrm-icon--note: "\e948";
$ucrm-icon--other: "\e949";
$ucrm-icon--outage: "\e94a";
$ucrm-icon--page-first: "\e94b";
$ucrm-icon--page-last: "\e94c";
$ucrm-icon--page-next: "\e94d";
$ucrm-icon--page-prev: "\e94e";
$ucrm-icon--paper-clip: "\e94f";
$ucrm-icon--payment-import-lg: "\e950";
$ucrm-icon--payment-import: "\e951";
$ucrm-icon--payment: "\e952";
$ucrm-icon--payments: "\e953";
$ucrm-icon--phone: "\e954";
$ucrm-icon--picture: "\e955";
$ucrm-icon--pin-map: "\e956";
$ucrm-icon--plus-circle: "\e957";
$ucrm-icon--plus-recurring: "\e958";
$ucrm-icon--plus-small: "\e959";
$ucrm-icon--plus: "\e95a";
$ucrm-icon--pointer-down-fill: "\e95b";
$ucrm-icon--pointer-down-tiny: "\e95c";
$ucrm-icon--pointer-down: "\e95d";
$ucrm-icon--pointer-up-tiny: "\e95e";
$ucrm-icon--printer: "\e95f";
$ucrm-icon--quote: "\e960";
$ucrm-icon--refund: "\e961";
$ucrm-icon--reports: "\e962";
$ucrm-icon--reset-password: "\e963";
$ucrm-icon--sandbox: "\e964";
$ucrm-icon--search: "\e965";
$ucrm-icon--security: "\e966";
$ucrm-icon--select-arrow: "\e967";
$ucrm-icon--send-by-post: "\e968";
$ucrm-icon--service-plus: "\e969";
$ucrm-icon--service-suspended: "\e96a";
$ucrm-icon--settings: "\e96b";
$ucrm-icon--signal: "\e96c";
$ucrm-icon--site: "\e96d";
$ucrm-icon--smiley-happy: "\e96e";
$ucrm-icon--smiley-sad: "\e96f";
$ucrm-icon--speaker: "\e970";
$ucrm-icon--suspended: "\e971";
$ucrm-icon--sync: "\e972";
$ucrm-icon--tax: "\e973";
$ucrm-icon--tools: "\e974";
$ucrm-icon--trash: "\e975";
$ucrm-icon--ubnt: "\e976";
$ucrm-icon--ucrm: "\e977";
$ucrm-icon--unknown: "\e978";
$ucrm-icon--unlink: "\e979";
$ucrm-icon--unms: "\e97a";
$ucrm-icon--upload-page: "\e97b";
$ucrm-icon--upload: "\e97c";
$ucrm-icon--user-assign-fill: "\e97d";
$ucrm-icon--user-assign: "\e97e";
$ucrm-icon--users: "\e97f";
$ucrm-icon--version: "\e980";
$ucrm-icon--void: "\e981";
$ucrm-icon--warning: "\e982";

