{% extends 'layout/base.html' %}


{% block content %}

    <div class="page-header page-header--has-background mb-4">
        <div class="page-header__top">
            <div>
                <h1>Downloads</h1>
            </div>

        </div>

    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table id="datatable"
                               class="table table-striped table-bordered dt-responsive nowrap"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                            <tr>
                                <th scope="col">NAME</th>
                                <th scope="col">STATUS</th>
                                <th scope="col">FILE</th>
                                <th scope="col">DATE</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>


                            <tbody>
                            {% for d in downloads %}
                                <tr>
                                    <td>{{ d.name }}</td>
                                    <td>
                                        {% if d.status == 1 %}
                                            Ready
                                        {% else %}
                                            Generating
                                        {% endif %}
                                    </td>
                                    <td>{{ d.path }}</td>
                                    <td>{{ d.created | ampm }}</td>
                                    <td>
                                        {% if d.path != None %}
                                        <a class="btn button--primary"
                                           href="{{ url_for('main.clients_report_download', filename=d.path) }}">Download</a>
                                        {% endif %}
                                    </td>
                                </tr>



                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end col -->
        </div> <!-- end row -->

    </div> <!-- container-fluid -->


    <style>
        .table-row {
            cursor: pointer;
        }

    </style>
    <script>
        $(document).ready(function ($) {
            $(".table-row").click(function () {
                window.document.location = $(this).data("href");
            });
        });

        {# function set_task_progress(task_id, progress) {#}
        {#    $('#' + task_id + '-progress').text(progress);#}
        {
        #}#}

    </script>



{% endblock %}